.Index {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.Index[data-theme=dark], .Index[data-theme=black] {
  background: black;
}

.Index[data-theme=light], .Index[data-theme=white] {
  background: white;
}

.Index-map {
  width: 100%;
  height: 100%;
}

.Index-map-overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.Index-display {
  position: absolute;
  right: 180px;
  top: 0;
  background: transparent;
  padding: 15px;
  line-height: 1;
  z-index: 10;
  text-align: right;
  font-weight: 600;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
}

.Index-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 1000px;
  width: 180px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding-bottom: 10px;
}

.Index-stops-svg {
  flex-grow: 1;
}

.Index[data-theme=dark] .Index-controls, .Index[data-theme=black] .Index-controls {
  background-color: #000c;
}

.Index[data-theme=light] .Index-controls, .Index[data-theme=white] .Index-controls {
  background-color: #fffc;
}

.Index[data-theme=dark], .Index[data-theme=black] {
  color: white;
  -webkit-text-stroke-color: black;
}

.Index[data-theme=light], .Index[data-theme=white] {
  color: black;
  -webkit-text-stroke-color: white;
}

.Index-axis {
  cursor: ns-resize;
}

.Index-axis-tick {
  stroke: #aaa;
}

.Index-axis-tick-label {
  alignment-baseline: middle;
  text-anchor: end;
}

.Index[data-theme=dark] .Index-axis-tick-label, .Index[data-theme=black] .Index-axis-tick-label {
  fill: white;
}

.Index-stop-hovered .Index-stop-background {
  filter: url(#blur);
}

.Index-ribbon {
  pointer-events: none;
  z-index: -10;
}

.Index-stop-triangle {
  cursor: pointer;
}

.Index-stop-triangle:focus {
  outline: none;
}


.Tooltip {
  display: flex;
  align-items: center;
}

.Tooltip-x {
  margin-right: 14px;
  cursor: pointer;
}

.Tooltip-x:before {
  content: '✕';
  font-size: 28px;
}


.Tooltip-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}



.Tooltip-swatch {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.Index-ribbon-background {
  cursor: cell;
}

.GeolocateControl {
    left: 0.5em;
    top: 4.5em;
}

/**
 * Idiomatic "locate me" icons look like the unicode right-facing arrow, but point up-and-to-the-right.
 */
.GeolocateControl-button-icon::before {
    content: "➤";
}
.GeolocateControl-button-icon {
    transform: rotate(-45deg);
}
